main{
    width:100%;
    display: block;
    border-bottom:1px solid #ccc;
    position:relative;
}
textarea{
  margin: 10px 3%;
  width: 95%;
  height: 100px;
  font-size:80%;
  box-shadow: 3px 3px 3px 3px #555;
  background-color:rgb(241, 239, 239);
}



#star-rating {
  margin-top: 10px;
}

.star {
  font-size: 30px;
  cursor: pointer;
  color: #ccc;
}

.star.selected {
  color: #ffcc00;
}